@import 'normalize';

html {
  height: 100%;
  max-height: 100%;
  @include font-size($base-root-size);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
body {
  height: 100%;
  max-height: 100%;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  @include font-size(18);
  line-height: 1.75em;
  color: #3a4145;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  height: 100%;
}
::-moz-selection {

  background: #d6edff;
}
::selection {

  background: #d6edff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: $light-black;
  line-height: 1.15em;
  margin: 0 0 0.4em;
  font-family: "Open Sans", sans-serif;
}
h1 {
  @include font-size(50);
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  @include font-size(36);
  letter-spacing: -1px;
}
h3 {
  @include font-size(30);
}
h4 {
  @include font-size(25);
}
h5 {
  @include font-size(20);
}
h6 {
  @include font-size(20);
}
a {
  color: $blue;
  transition: color ease 0.3s;
}
a:hover {
  color: darken($blue,10);
}
p,
ul,
ol,
dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 rem-calc(17.5);
}
ol,
ul {
  padding-left: rem-calc(30)
}
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0 0 rem-calc(4);
  padding-left: rem-calc(20);
}
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}
dl dd {
  margin-left: rem-calc(200);
  margin-bottom: rem-calc(10);
}
li {
  margin: rem-calc(4) 0;
}
li li {
  margin: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #efefef 1px solid;
  margin: rem-calc(32) 0;
  padding: 0;
}
blockquote {
  box-sizing: border-box;
  margin: 1.75em 0px 1.75em -2.2em;
  padding: 0px 0px 0px 1.75em;
  border-left: 0.4em solid #4A4A4A;
}
blockquote p {
  margin: rem-calc(8) 0;
  font-style: italic;
}
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  @include font-size(9);
  color: #ccc;
}
blockquote small:before {
  content: "\2014 \00A0";
}
blockquote cite {
  font-weight: 700;
}
blockquote cite a {
  font-weight: normal;
}
mark {
  background-color: #ffc336;
}
code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  @include font-size(16);
  white-space: pre-wrap;
  border: #e3edf3 1px solid;
  background: #f7fafb;
  border-radius: 2px;
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em;
  border: #e3edf3 1px solid;
  width: 100%;
  font-family: Inconsolata, monospace, sans-serif;
  @include font-size(16);
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
}
pre code,
tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}
kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  @include font-size(16);
  font-weight: 700;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #efefef 1px solid;
}
table th {
  color: #000;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: #efefef 2px solid;
}
table table table {
  background-color: #fff;
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}
table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}
iframe,
.fluid-width-video-wrapper {
  display: block;
  margin: 1.75em 0;
}

.tag-text {
  font-weight: bold;
}
