%center {
  margin-right: auto;
  margin-left: auto;
}

%text-center {
  text-align:center;
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.text-center{
  @extend %text-center;
}

@function rem-calc($size, $context: $base-root-size) {
  @return ($size / $base-root-size) + rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
}
