// Base font size in used in _mixins.scss
$base-root-size: 16;

//colors https://github.com/mrmrs/colors/blob/master/sass/_variables.scss
$blue: #00bcd4;
$light-black: #111111;
$light-black-clear: #2e2e2e;
$silver: #dddddd;
$gray:#aaaaaa;
$white:#ffffff;
