.menu-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 32px;
  padding: 0 20px;
  color: $white;
  text-align: center;
  @include font-size(16);
  text-transform: uppercase;
  line-height: 32px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all ease 0.3s;
  margin-right: 10px;

}
.menu-button.inverted {
  color: $blue;
}

.menu-button.fright {
  float: right;
}

.back-button:before {
  position: relative;
  bottom: -2px;
  font-size: 13px;
  line-height: 0;
  margin-right: 8px;
}

/* Special styles when overlaid on an image*/
.main-nav.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border: none;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
}
.no-cover .subscribe-button {
  float: right;
}

.menu-button:hover {
  color: $blue;
  border-color: $white;
  background: $white;
  transition: all 0.1s ease;
}
.menu-button.inverted:hover {
  color: $light-black;
  transition: all 0.1s ease;
}

.menu-button.icon-feed:before {
  font-size: rem-calc(10);
  margin-right: 6px;
}
