.pagination {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  font-family: "Open Sans", sans-serif;
  font-size: rem-calc(13);
  color: #9eabb3;
  text-align: center;
}
.pagination a {
  color: #9eabb3;
  transition: all 0.2s ease;

}
/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  transition: border ease 0.3s;
}
.older-posts {
  right: 0;
}
.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px;
}
.newer-posts {
  left: 0;
}
.older-posts:hover,
.newer-posts:hover {
  color: #889093;
  border-color: #98a0a4;
  border-bottom: 1px solid;
}
.extra-pagination {
  display: none;
  border-bottom: #ebf2f6 1px solid;
}
.extra-pagination:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #e7eef2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}
.extra-pagination .pagination {
  width: auto;

}
/* On page2+ make all the headers smaller */
.archive-template .main-header {
  max-height: 30%;

}
/* On page2+ show extra pagination controls at the top of post list */
.archive-template .extra-pagination {
  display: block;

}
