/* Clears shit */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;

}
/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;

}
/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;

}
/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle;

}

.text-center {
  text-align: center;
}
