.site-footer {
  position: relative;
  margin: 8rem 0 0;
  padding: 0.5rem 15px;
  border-top: #ebf2f6 1px solid;
  font-family: "Open Sans", sans-serif;
  @include font-size(10);
  line-height: 1.75em;
  color: #bbc7cc;
}
.site-footer a {
  color: #bbc7cc;
  text-decoration: none;
  font-weight: bold;
}
.site-footer a:hover {
  color: #50585d;
}
.poweredby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}
.copyright {
  display: block;
  width: 45%;
  float: left;

}
