.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;
  min-height: 160px;
  max-height: 40%;
}
.main-header .inner {
  width: 80%;
}
.main-nav {
  position: relative;
  padding: 35px 40px;
  margin: 0 0 30px;
}
.main-nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

}
/* Appears in the top right corner of your home page */
.main-nav.overlay a.blog-logo {
  float: right;
  font-size: 6rem;
  background: none !important;
  border: none !important;

}
.main-nav.overlay a.blog-logo:hover {
  color: #ffdc00;
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;

}
.blog-logo img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 38px;
  padding: 1px 0 5px;
  width: auto;

}
.menu-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 38px;
  padding: 0 20px;
  border: transparent 1px solid;
  color: #9eabb3;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  transition: all ease 0.3s;
  margin-right: 10px;

}
.back-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 38px;
  padding: 0 15px 0 10px;
  border: transparent 1px solid;
  color: #9eabb3;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  transition: all ease 0.3s;
}
.back-button:before {
  position: relative;
  bottom: -2px;
  font-size: 13px;
  line-height: 0;
  margin-right: 8px;
}
.subscribe-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 38px;
  padding: 0 20px;
  border: transparent 1px solid;
  color: #9eabb3;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  transition: all ease 0.3s;
}
.subscribe-button:before {
  font-size: 9px;
  margin-right: 6px;

}
/* Special styles when overlaid on an image*/
.main-nav.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border: none;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
}
.no-cover .main-nav.overlay,
.no-cover .back-button,
.no-cover .subscribe-button {
  background: none;
}
.no-cover .subscribe-button {
  float: right;
}
.main-nav.overlay a {
  color: #fff;
}
.main-nav.overlay .back-button,
.main-nav.overlay .subscribe-button,
.main-nav.overlay .menu-button {
  border-color: rgba(255,255,255,0.6);
}
.main-nav.overlay a:hover {
  color: #222;
  border-color: #fff;
  background: #fff;
  transition: all 0.1s ease;

}
/* Add a border to the buttons on hover */
.back-button:hover,
.subscribe-button:hover,
.menu-button:hover {
  border-color: #bfc8cd;
  color: #9eabb3;

}
