.site-footer {
  position: relative;
  margin: 2rem 0 0;
  padding: 0.5rem 15px;
  border-top: $silver 1px solid;
  font-family: "Open Sans", sans-serif;
  font-size: rem-calc(13);
  line-height: 1.75rem;
  color: $gray;
  section {
    @include vertical-align();
  }
}
.site-footer a {
  color: $gray;
  text-decoration: none;
  font-weight: bold;
}
.site-footer a:hover {
  text-decoration: none;
  color:$blue;
}
.poweredby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}
.copyright {
  display: block;
  width: 45%;
  float: left;
}
