.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
  text-align: center;
  background: $blue no-repeat center center;
  background-size: cover;
  overflow: hidden;
  min-height: 160px;
  max-height: 40%;
}
.main-header .inner {
  width: 80%;
}
.main-nav {
  position: relative;
  padding: 35px 40px;
  margin: 0 0 30px;
}
.main-nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

}
/* Appears in the top right corner of your home page */
.main-nav.overlay a.blog-logo {
  float: right;
  font-size: 6rem;
  background: none !important;
  border: none !important;

}
.main-nav.overlay a.blog-logo:hover {
  color: #ffdc00;
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;

}
.blog-logo img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 38px;
  padding: 1px 0 5px;
  width: auto;

}
